.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 40px 32px;
  cursor: auto;
  justify-content: space-evenly;
  max-height: 400px;

  .nav--open & {
    display: flex;
  }

  &--hide-mobile {
    display: none;
    @media screen and (min-width: 992px) {
      display: inline-block;
    }
  }

  &__list {
    // display: block;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: auto;
  }

  &__item {
    display: block;
    padding: 0;
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    font-family: ProximaNova-Semibold, "Helvetica Neue", Verdana, Arial,
      sans-serif;
    letter-spacing: 0.35px;
    text-transform: none;
    line-height: 22px;
    height: 38px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }
}
